{% extends 'base.html' %}
{% block content %}
<h1>Blocks</h1>
<table>
    <tr>
        <th>height</th>
        <th>hash</th>
        <th>time</th>
        <th>num tx</th>
        <th>confirmations</th>
        <th>size</th>
        <th>version</th>
    </tr>
{% for block in blocks %}
<tr>
    <td>{{ block.height }}</td>
    <td><a href="/block/{{ block.hash }}">{{ block.hash }}</a></td>
    <td>{{ block.time }}</td>
    <td>{{ block.tx|length }}</td>
    <td>{{ block.confirmations }}</td>
    <td>{{ block.size }}</td>
    <td>{{ block.version }}</td>
</tr>
{% endfor %}
</table>
{% endblock content %}
